<section class="reviewcard">
    <div>
        <div class="row margin">
            {{!-- MOVIE REEL DESIGN --}}
            <div class="row reel col-9">
                {{!-- MOVIE TITLE AND USER --}}
                <div class="col-8 row" id="reviewtitle">
                    <h1 class="col-12">{{title}}</h1>
                    <h6 class="col-12" id="reviewuser">A Reel Radar Review by: {{user.username}}</h6>
                </div>
                {{!-- REVIEW CONTENT --}}
                <p id="reviewcontent">{{content}} </p>
            </div>
        </div>
    </div>
</section>