{{!-- STYLE SHEETS --}}
<link rel="stylesheet" type="text/css" href="/CSS/style.css">


<section class="row changingButtons justify-content-md-center">
    {{!-- TOP BUTTONS --}}
    {{#if loggedIn}}
    <button class="col-sm writebtn writebtnmain" id="option1">Write a Blog</button>
    <button class="col-sm writebtn logout" id="logout">Logout</button>
    {{else}}
    <button class="col-sm writebtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="option1">Login</button>
    <button type="button" class="col-sm writebtn signup" id="option1"
        onclick="window.location.href='/auth'">Signup</button>

    {{!-- LOGIN MODAL --}}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-light" id="staticBackdropLabel">USER LOGIN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" id="login">
                        <label for="loginEmail" class="text-light">EMAIL</label><br><br>
                        <input type="text" id="loginEmail" class="modal-dialog-centered" placeholder="email">
                        <br><br>
                        <label for="loginPassword" class="text-light">PASSWORD</label><br><br>
                        <input type="password" class="modal-dialog-centered" id="loginPassword" placeholder="password">
                        <br>
                        <div id="modalAlert"></div>
                        <br>
                        <a href="/auth">New? Create an Account!</a>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="loginBtn">Login</button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</section>


{{!-- REVIEWS AND SEARCH BUTTONS --}}
<section id="center">
    {{!-- REVIEWS --}}
    <div class="row justify-content-center reviewwrap">
        <div class="latestreviews col-12">
            <div class="newInTheaters">
                <h2>Latest Blogs:</h2>
            </div>
            {{!-- LOADS PARTIAL --}}
            {{#each reviews as |review|}}
            {{> review-details}}
            {{/each}}
        </div>

        {{!-- SEARCH BUTTONS --}}
        <div class="searchFunc col-12">
            <div class="row justify-content-center" id="latest">
                {{!-- USER SEARCH --}}
                <div class="col-5">
                    <h2>Search for a user</h2>
                    <div class="search bottomSearch">
                        <div class="search-box">
                            <div class="search-field">
                                <input placeholder="Username" class="input usernameInput" type="text">
                                <div class="search-box-icon">
                                    <button class="btn-icon-content usernameInputBtn">
                                        <i class="search-icon">
                                            <svg xmlns="://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                                                <path
                                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                                                    fill="#fff"></path>
                                            </svg>
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="noUserFound"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- PROFILE/HOME BUTTON --}}
<div class="header-icons">
    <a href="/profile" class="user-button"><i class="fas fa-user"></i></a>
    <a href="/" class="home-button"><i class="fas fa-home"></i></a>
</div>

</main>

{{!-- JS SCRIPTS --}}
<script src="/JS/homepage.js"></script>
{{#if loggedIn}}
<script src="/JS/logout.js"></script>
<script src="/JS/writeReviewLogic.js"></script>
{{else}}
<script src="/JS/loginLogic.js"></script>
{{/if}}